body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
}

.main {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 20vh 100vh;
    
}

.header{
    background-color: #e2e8f0;
    grid-column: 1/3;
    grid-row: 1/2;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.sidebar {
    /*background-color: #28b9cf;*/
    /*background-color: #278291;*/
    background-color: #026e75;
    grid-row: 1/3;
    grid-column: 1/2;
    position: sticky;
}

.mainBody{
    background-color: #c6c9ce;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
    align-items: flex-start;
}

a{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: rgb(18, 21, 24);
    font-weight: 900;
    opacity: 0.8;
}

img {
    max-width: 30px;
    max-height: 30px;
}

.dashboard-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: rgb(18, 21, 24);
    font-weight: 900;
    font-size: 25px;
    opacity: 0.9;
}